.zone1{
    height: 100vh;
    background-color: blue;
}
.zone2{
    height: 100vh;
    background-color: green;
}
.zone3{
    height: 100vh;
    background-color: violet;
}
.bouton1{
    position: fixed;
    top: 940px;
    
}