.zone1{
    height: 100vh;
    background-color: blue;
    position: relative;
}
.zone2{
    height: 100vh;
    background-color: green;
}
.zone3{
    height: 100vh;
    background-color: violet;
}
.bouton1{
    position: absolute;
    
    left: 50%;
    height: 50px;
    width: 100px;
    bottom:0;
}